.DS_Store
.idea
*.log
tmp/

# ============================
# Go / Gin Backend
# ============================

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go build cache & modules
/go/pkg/
/go/bin/
/bin/
/dist/
/build/
/vendor/
/*.log

# Go coverage reports
*.coverprofile
coverage.out

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*


# ============================
# Angular Frontend
# ============================

# Angular build output
dist/
dist-browser/
dist-server/

# Node modules
node_modules/

# Angular cache
.angular/
.angular/cache/

# Environment files
src/environments/environment.ts
src/environments/environment.prod.ts

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
*.log

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db



## REACT, VITE

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
